aiogram==3.24.0
telethon==1.36.0
pillow
requests==2.31.0
openai>=1.40.0
yt-dlp==2026.02.04
fastapi
uvicorn
google-auth
google-auth-oauthlib
requests
supabase
pypdf
pymupdf
elevenlabs>=1.0.0
httpx[socks]
socksio
openpyxl